<footer class="main-footer">
    <span>Created by <a href="https://github.com/thanhminhmr">thanhminhmr</a></span>
    <div class="pull-right">
        <small>
            <a href="https://github.com/thanhminhmr/studentjs">Sourcecode</a>
        </small>
    </div>
</footer>