<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <% if (session.role !== 2) { %>
            <li>
                <a href="/form/<%= session.id %>">
                    <i class="fa fa-pencil-square-o"></i>
                    <span>Điểm rèn luyện</span>
                </a>
            </li>
            <% } %>
            <% if (session.role !== 0) { %>
            <li>
                <a href="/list">
                    <i class="fa fa-archive"></i>
                    <span>Danh sách lớp</span>
                </a>
            </li>
            <% } %>
        </ul>
    </section>
</aside>